.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



div.espacio3D {
  width: 300px;
  height: 300px;
  margin: 3em auto 0 auto;
  border: 1px solid white;
  position: relative;
  perspective-origin: center -50%;
  perspective: 500px;
  transform: scale(0.75);
}

div.cubo3D {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-150px);
  animation-name: gira;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
}

div.base {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: rgba(0,0,0,0.15);
  transform: translateX(75px) translateY(75px) rotateX(90deg) translateZ(-200px);
  box-shadow: 0 0 50px 100px rgba(0,0,0,0.15);
}
aside.cara {
  position: absolute;
  width: 298px;
  height: 298px;
  background-color: rgb(207,235,249);
  border: 1px solid rgb(52,108,176);
  color: #08f;
  font-size: 3em;
  text-align: center;
  line-height: 298px;
  box-shadow: 0px 0px 5px rgb(52,108,176);
}

aside.cara1 { /* Frente */
  transform: translateZ(150px);
}

aside.cara2 { /* Atrás */
  transform: rotateY(180deg) translateZ(150px);
}

aside.cara3 { /* Izquierda */
  transform: rotateY(-90deg) translateZ(150px);
}

aside.cara4 { /* derecha */
  transform: rotateY(90deg) translateZ(150px);
}

aside.cara5 { /* abajo */
  transform: rotateX(-90deg) translateZ(150px);
}

aside.cara6 { /* arriba */
  transform: rotateX(90deg) translateZ(150px);
}

@keyframes gira {
  0% {
    transform: translateZ(-150px) rotateY(0deg);
  }
  100% {
    transform: translateZ(-150px) rotateY(360deg);
  }
}

